body {
    background: rgb(82, 134, 112);
}

h1 {
    font-size: 60px;
    text-align: center;
    color: rgb(190, 150, 98);
    background: rgb(22, 58, 42);
    font-style: oblique;
}

.introduction {
    font-size: 25px;
    background-color:cornsilk
}

a {

}